$drawer-width: 300px;

%drawer-style {
  position: fixed;
  z-index: 200;
  top: 0;

  overflow: hidden;

  width: $drawer-width;
  height: 100%;

  transition: transform .3s;

  background-color: #ccc;
}

.drawer-right,
.drawer-push-right {
  @extend %drawer-style;

  right: 0;

  transform: translateX($drawer-width);

  &.active {
    transform: translateX(0);
  }
}

.drawer-left,
.drawer-push-left {
  @extend %drawer-style;

  left: 0;

  transform: translateX(-300px);

  &.active {
    transform: translateX(0);
  }
}

.overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 0;
  height: 0;

  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;

  opacity: 0;
  background-color: #000;

  &.active {
    width: 100%;
    height: 100%;

    transition: opacity 0.3s;

    opacity: 0.7;
  }
}

.wrapper {
  &.push-right {
    transform: translateX(-300px);
  }

  &.push-left {
    transform: translateX(300px);
  }
}
